body{
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.strike {
  text-decoration: line-through;
}

.calculatorBody{
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.simpleInterestInterface{
  margin: 130px auto;
}

.simpleInterestInterface input{
  margin: 10px 0;
}

.calculatorBody button {
  //margin: 10px;
  padding: 20px;
}

.computeBtn{
  width: 100%;
  height: 70px;
}

#nav {
  display: flex;
  list-style: none;
  padding: 30px 10px;
  background: black;
  margin-top: 0;
}

#nav li {
  padding: 0 30px
}

#nav a {
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
}

#nav a:hover{
  color: #FFF;
}

.container{
  padding: 0 20px;
}

#itemValue, input{
  border-radius: 3px;
  border: 1px solid grey;
  font-size: 20px !important;
  font-family: "Roboto", arial;
  height: 50px;
  padding: 0 10px;
}

.container > button, button {
  color: #fff;
  background-color: #0969b6;
  border: 0;
  padding: 10px 30px;
  border-radius: 0px;
  margin-top: 7px;
  cursor: pointer;
}

.container h1 {
  text-transform: uppercase;
  color: #2c3b41;    
}
li.todo-item {
  font-size: 1.3em;
  text-transform: capitalize;
  list-style: none;
  padding: 10px 0;
}